<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Innovación en Agroindustria</h6>
        <p class="text-justify">Revolucionamos la agricultura mediante tecnología de punta en Inteligencia Artificial. 
          Nuestros algoritmos de Deep Learning procesan miles de datos en tiempo real para 
          proteger tus cultivos con una precisión sin precedentes. </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Tecnología de Vanguardia</h6>
        <ul>
          <li>Deep Learning</li>
          <li>Machine Learning</li>
          
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a routerLink="/landing/info-sections" routerLinkActive="active">About Us</a></li>
          <li><a routerLink="/landing/info-sections" routerLinkActive="active">Contact Us</a></li>
          <li><a routerLink="/landing/info-sections" routerLinkActive="active">Contribute</a></li>
          <li><a routerLink="/landing/info-sections" routerLinkActive="active">Privacy Policy</a></li>
          
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <!-- Copyright -->
  <div class="text-center p-3 copyright">
    <p class="mb-1">
      © {{currentYear}} UTCV | Pioneros en IA para Agricultura
    </p>
    <p class="mb-0 small">
      Transformando la agricultura con Inteligencia Artificial
    </p>
  </div>


    </div>
  </div>
</footer>