<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/landing/home-cana">RPCA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" type="button">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing/explore-cana" routerLinkActive="active">Explorar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing/identify-cana" routerLinkActive="active">Identificar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing/login-cana" routerLinkActive="active">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/landing/register-cana" routerLinkActive="active">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
