<app-nav-bar-cana></app-nav-bar-cana>

<div class="home-container">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h2>Analizar e identificar plagas en caña de azúcar</h2>
          <p>
            RPCA es una herramienta diseñada para ayudar en la identificación de plagas en la
        caña de azúcar mediante fotografías. Esta plataforma está organizada para identificar
        diferentes tipos de plagas según la localización en México. Selecciona la zona en la
        que deseas realizar la identificación para obtener mayor precisión. La aplicación cubre
        diversas regiones de México. Asegúrate de que las imágenes que subas sean claras y
        de buena calidad para una correcta identificación.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-8 offset-md-2 text-center">
          <h3>Vídeo acerca de la aplicación</h3>
          <div class="video-container">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIDEO_ID" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer-cana></app-footer-cana>