/********** Template CSS **********/

.fw-medium {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-black {
  font-weight: 900 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}



/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}



/*** Header ***/
.owl-carousel-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .1);
}

@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
      position: relative;
      min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .header-carousel .owl-carousel-item p {
      font-size: 16px !important;
  }
}

.header-carousel .owl-dots {
  position: absolute;
  width: 60px;
  height: 100%;
  top: 0;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-carousel .owl-dots .owl-dot {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 5px 0;
  background: #FFFFFF;
  box-shadow: 0 0 30px rgba(255, 255, 255, .9);
  border-radius: 45px !important;
  transition: .5s;
}

.header-carousel .owl-dots .owl-dot.active {
  width: 60px;
  height: 60px;
}

.header-carousel .owl-dots .owl-dot img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 2px;
  border-radius: 45px !important;
  transition: .5s;
}

.page-header {
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../../../assets/images/pruebas/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-icon {
  position: relative;
  margin: -50px 0 25px 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #257032;
  background: #FFFFFF;
  border-radius: 100px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.service-item:hover .service-icon {
  color: #FFFFFF;
  background: #257032;
}


/*** Feature ***/
@media (min-width: 992px) {
  .container.feature {
      max-width: 100% !important;
  }

  .feature-text  {
      padding-left: calc(((100% - 960px) / 2) + .75rem);
  }
}

@media (min-width: 1200px) {
  .feature-text  {
      padding-left: calc(((100% - 1140px) / 2) + .75rem);
  }
}

@media (min-width: 1400px) {
  .feature-text  {
      padding-left: calc(((100% - 1320px) / 2) + .75rem);
  }
}



.blur-image {
  filter: blur(4px);
}


.h1-inicio {
  font-style: normal;
  font-size: 60px;
  font-weight: 700;
}

.bg-light {
  background-color: #f2fbf3 !important;
}

.bg-primary {
  background-color: #257032 !important;
}

.p-porcentaje{
  font-size: 25px;
  font-weight: 300;
}



.text-primary {
  color: #000000 !important;
}

.btn-inicio {
  font-style: normal;
  font-size: 25px;
  font-weight: 700;
  width: 250px;
  height: 60px;
  background-color: #3aad4e;
  color: #ffffff;
  border-radius: 15px;
  border-color: #3aad4e;
}

.btn-inicio:hover {
  background-color: #c4eecb;
  border-color: #c4eecb;
  color: #000000;
  
}


.h2-parrafo{
  font-size: 30px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
    padding: 2rem 0;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }

  .svg-container img {
    background-color: white !important;
    background: white !important;
    isolation: isolate;
    mix-blend-mode: multiply;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1rem white; /* Crea un borde blanco alrededor */
  }

  
}

.section-beneficios{
  margin-top: 80px;
}

.testimonial-section {
  background: #ffffff;
  padding: 80px 0;
  text-align: center;
  margin-top: 80px;
}

.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.testimonial-section h1 {
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 65px;
}

.testimonial-pics {
  padding: 40px 0;
  
}

.testimonial-pics img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 20px;
  filter: grayscale(100%);
  transition: .3s;
  cursor: pointer;
}

.testimonial-pics img:hover, .testimonial-pics img.active {
  filter: none;
}


.testimonial-contents {
  max-width: 600px;
  margin: auto;
}

.testimonial {
  font-family: poppins;
  display: none;
}

.testimonial.active {
  display: block;
}

.testimonial p {
  color: #5c5c5c;
  margin-bottom: 20px;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.testimonial .description {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
  font-family: poppins;
}

.foto-trabajo{
  margin-bottom: 10px;
}


/* Añade estos estilos a tu home-cana.component.css */
.card {
  transition: transform 0.3s ease;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card:hover {
  transform: translateY(-5px);
}

.h2-beneficio{
  font-size: 50px;
  font-weight: 500;
} 

.h3-parrafo-beneficio{
  font-size: 40px;
  font-weight: 300;
}

.badge {
  font-weight: 500;
}

.bg-success {
  background-color: #95e0a1 !important;
  color: #0b2811;
}

.titulo-plagas{
  font-size: 50px;
  font-weight: 500;
  margin-top: 80px;
}

.p-plagas-texto{
  font-size: 20px;
  font-weight: 300;
}