/* landing.component.css */

*{
  font-family: 'Roboto', sans-serif;
}
.hero-section {
 
  background-size: cover; /* La imagen ocupa todo el viewport */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
  background-attachment: fixed; 

}

.bg-light {
  background-color: #f2fbf3 !important;
}

.bg-primary {
  background-color: #95e0a1 !important;
}

.text-primary {
  color: #ffffff !important;
}

.btn-primary {
  background-color: #95e0a1;
  border-color: #95e0a1;
  color: #00310a;
}

.btn-primary:hover {
  background-color: #7bc485;
  border-color: #7bc485;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
    padding: 2rem 0;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }

  .svg-container img {
    background-color: white !important;
    background: white !important;
    isolation: isolate;
    mix-blend-mode: multiply;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1rem white; /* Crea un borde blanco alrededor */
  }

  
}

/* Añade estos estilos a tu home-cana.component.css */
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.badge {
  font-weight: 500;
}

.bg-success {
  background-color: #95e0a1 !important;
  color: #0b2811;
}