/* You can add global styles to this file, and also import other style files */
/*estilos generales*/
*{
    font-family: "Poppins", serif;
}

/* En src/styles.css */
link[rel="icon"] {
    border-radius: 50%;
    overflow: hidden;
}
